arxiv
duckduckgo-search
faiss-cpu
faster-whisper
hy==0.28.0
hyrule==0.5.0
langchain
langchain_community
libmagic
lorem
markdownify
openai
pdf2image
protobuf==3.20.1
pymupdf
pytesseract
python-magic
requests
rich
sentence-transformers
sumy
tabulate
tiktoken
tomli
unstructured
wikipedia
youtube-transcript-api
